%h1{:style => "text-align: center;"}
  TIC-TAC-TOE
%div.game-container
  %div.row1
    %div.square#1-1
      1-1
      %div.placement#oneone
    %div.square#1-2
      1-2
      %div.placement#onetwo
    %div.square#1-3
      1-3
      %div.placement#onethree
  %div.row2
    %div.square#2-1
      2-1
      %div.placement#twoone
    %div.square#2-2
      2-2
      %div.placement#twotwo
    %div.square#2-3
      2-3
      %div.placement#twothree
  %div.row3
    %div.square#3-1
      3-1
      %div.placement#threeone
    %div.square#3-2
      3-2
      %div.placement#threetwo
    %div.square#3-3
      3-3
      %div.placement#threethree