.game-container{
  padding-top: 50px;
  padding-left: 465px;
}

.tic-tac-toe{
  border: 1px solid black;
}

.row1{
  margin-bottom: 5px;
}
.row2{
  margin-bottom: 5px;
}

.square {
background-color: grey;
display: inline-block;
height: 150px;
vertical-align: top;
width: 150px;
*display: inline;
border: 1px solid black;
color: white;
}

.placement{
  text-align: center;
  margin-top: 40px;
  font-size: 45px;
}
